

var start,ratio;

module.exports = {

  slide_start:function(e,instance){
    start=e.changedTouches[0].pageY
    ratio=e.currentTarget.dataset.ratio
  },

  slide_move:function(e,instance){
    //console.log("e-ins",JSON.stringify(e))
    var pageY=e.changedTouches[0].pageY
    var derta=pageY-start
    //console.log("derta",derta/ratio)

    var ins = instance.selectComponent('.main')
    ins.setStyle({
      "top":derta+"rpx" // 支持rpx
    })
  },

  slide_end:function(e,instance){
    var pageY=e.changedTouches[0].pageY
    var derta=pageY-start
    var ins = instance.selectComponent('.main')

    if(derta/ratio<-250){
      console.log("nexttt")
      ins.callMethod('next_pre_video',{derta:1})
    }
    else if(derta/ratio>250){
      console.log("previewttt")
      ins.callMethod('next_pre_video',{derta:-1})
    }
    
    ins.setStyle({
      "top":"0rpx" // 支持rpx
    })
  }
}